$primary-colour: #444;
$text-colour-light: #fff;
$text-colour-dark: #000;
$secondary-colour: #33aaee;

body {
  background-color: $primary-colour;
  color: $text-colour-light;
  font-family: Arial, Helvetica, sans-serif;

  input,
  select,
  button {
    border-radius: 10px;
  }

  a {
    text-decoration: none;
    color: $text-colour-dark;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.title {
  color: $secondary-colour;
  margin: 25px;
  padding: 0;
  text-align: center;
}

#mainNav {
  border: 1px solid white;
  justify-self: center;
  height: auto;
  width: 100%;
  border-radius: 25px;
  grid-column: 2;

  p,
  button {
    font-size: 1.5rem;
    margin: 15px;
    width: calc(100% - 30px);
  }

  p {
    margin-top: 25px;
  }
}

#recordPurchaseForm {
  grid-column: 2;
  font-size: 1.2rem;
  p,
  input,
  select {
    width: calc(100% - 30px);
  }

  input {
    margin: 0;
  }
  p {
    margin-bottom: 0;
  }
}
